body {
	font-family: 'Roboto', sans-serif;
	background-color: #0093E9;
	background-image: -webkit-linear-gradient(135deg, #0093E9 0%, #bb76de 100%);
	background-image: -o-linear-gradient(135deg, #0093E9 0%, #bb76de 100%);
	background-image: -webkit-linear-gradient(315deg, #0093E9 0%, #bb76de 100%);
	background-image: -o-linear-gradient(315deg, #0093E9 0%, #bb76de 100%);
	background-image: linear-gradient(135deg, #0093E9 0%, #bb76de 100%);
	height: 100vh;
}

.wrapper {
	width: 768px;
	margin: 0 auto;
}

.wrapper__head {
	text-align: center;
	color: white;
}

.form {
	width: 300px;
	min-height: 300px;
	margin: 0 auto;
	padding: 50px 20px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0 0 3px black;
	        box-shadow: 0 0 3px black;
}

/* 1 */
.form__checkbox {
	position: relative;
	margin: 20px auto 30px auto;
}

/* 2 */
input[type="checkbox"] {
	display: none;
}

/* 3 */
input[type="checkbox"] + label {
	position: relative;
	min-height: 30px;
	padding: 0 0 0 40px;
	color: gray;
	text-transform: capitalize;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
input[type="checkbox"] + label:hover {
	color: lightskyblue;
}

/* 4 */
input[type="checkbox"] + label::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 26px;
	margin-top: -15px;
	font-size: 20px;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border: 2px solid gray;
	border-radius: 5px;
}

/* 5 */
input[type="checkbox"]:checked + label::after {
	content: '✓';
	color: white;
	border-color: #008b7d;
	background-color: #008b7d;
}

/* 6 */
input[type="checkbox"]:disabled + label {
	color: lightgray;
}
input[type="checkbox"]:disabled + label::after {
	background-color: lightgray;
	border-color: lightgray;
}
input[type="checkbox"]:disabled + label:hover {
	color: lightgray;
}