.form-free-consult {}
.form-free-consult__head {
	font-size: 28px;
	font-weight: 700;
	color: #01b7bc;
}
.form-free-consult__subtext {
	margin: 0 0 15px 0;
	font-size: 14px;
}
.form-free-consult__input {
	margin-bottom: 15px;
}
.form-free-consult__input label {
	display: block;
	margin-bottom: 5px;
}
.form-free-consult__input input {
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 10px;
	color: black;
	border: 1px solid black;
}
.form-free-consult__btn {
	display: block;
	width: 100%;
	background-color: transparent;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #01b7bc;
	color: #01b7bc;
	cursor: pointer;
}